@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Formative Trial";
  src: url("../fonts/FormativeTrial-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Formative Trial";
  src: url("../fonts/FormativeTrial-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Formative Trial";
  src: url("../fonts/FormativeTrial-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Formative Trial";
  src: url("../fonts/FormativeTrial-Semi-Bold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ginora";
  src: url("../fonts/Ginora-Sans-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: #ffffff;
}

a,
button,
input {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1 {
  font-size: clamp(30px, 4.1666666667vw, 60px);
  font-weight: 400;
}

h2 {
  font-size: clamp(20px, 2.4305555556vw, 35px);
  font-weight: 500;
}

h3 {
  font-size: clamp(20px, 1.6666666667vw, 24px);
  font-weight: 600;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Formative Trial", sans-serif;
  --third-family: "Ginora Sans", sans-serif;
  --color-dark: #101828;
  --color-accent: #3c4d6e;
  --color-input-label: #344054;
  --color-input-placeholder: #667085;
  --container-width: 1280px;
  --container-padding-x: 16px;
  --transition-duration: 0.4s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.mobile-overlay {
  color: var(--color-dark);
  width: 150px;
  height: 100%;
  border: none;
  margin: 0;
  margin-left: auto;
  padding-top: 20px;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.mobile-overlay__body {
  margin-top: 20px;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 30px;
  aspect-ratio: 1;
  background-image: url("../../images/burgerIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
    border-radius: 10px;
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
    border-radius: 10px;
  }
}

.header {
  padding-top: 18px;
  background-image: url("../../images/backgroundHeader.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1023px) {
  .header {
    background-position-x: 55%;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;
}
@media (max-width: 1023px) {
  .header__inner {
    padding-inline: 16px;
  }
}
.header__banner {
  color: #fff;
  margin-top: 161px;
  padding-bottom: 240px;
}
@media (max-width: 1023px) {
  .header__banner {
    margin-top: 112px;
    padding: 0px 27px 81px 27px;
  }
}
.header__banner-title {
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 1023px) {
  .header__banner-title {
    font-weight: 600;
    line-height: 130%;
  }
}
.header__banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  padding: 16px 28px;
  margin-top: 30px;
  width: 187px;
  height: 64px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .header__banner-button {
    margin-top: 50px;
  }
}
.header__banner-button::after {
  content: url("../../images/paw-prints.svg");
}
.header__banner-text {
  font-weight: 600;
  line-height: 150%;
  margin-top: 20px;
  font-size: clamp(14px, 1.1111111111vw, 16px);
}
.header__nav-wrapper {
  -moz-column-gap: 50px;
       column-gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu-list {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
.header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 32px;
  position: relative;
  color: #fff;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition-duration: inherit;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 44px;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 10px 18px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  white-space: nowrap;
}
@media (max-width: 1280px) {
  .header__button {
    height: 35px;
  }
}

.button {
  border-radius: 8px;
  font-weight: 600;
  white-space: nowrap;
}

.close-button {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 30px;
  aspect-ratio: 1;
}
.close-button::before, .close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 1px;
}
.close-button::before {
  rotate: 45deg;
}
.close-button::after {
  rotate: -45deg;
}

.section__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 70px;
}
@media (max-width: 767px) {
  .section__body {
    padding-block: 40px;
  }
}
.section__content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border: 0.2px solid grey;
  padding: 21px;
}
@media (max-width: 767px) {
  .section__content {
    border: none;
    margin: 0;
  }
}
.section__tab-list {
  display: flex;
  margin-top: 87.5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 1023px) {
  .section__tab-list {
    margin: 0;
  }
}
.section__image-container {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .section__image-container {
    flex-direction: column;
  }
}
.section__link {
  align-self: flex-end;
}
.section__title {
  display: flex;
  width: 100%;
  align-self: flex-start;
  -moz-column-gap: 15px;
       column-gap: 15px;
  border-bottom: 0.2px solid grey;
}
.section__title::before {
  content: url("../../images/paw-prints-alternate.svg");
}
.section__sub-title {
  align-self: flex-start;
  margin-top: 30px;
}
.section__tab-button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: clamp(15px, 1.3888888889vw, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
}
@media (max-width: 767px) {
  .section__tab-button {
    height: 35px;
    padding: 10px 16px;
  }
}
.section__link {
  margin-top: 36px;
}
.section__tab-button_active {
  padding: 15px 25px;
  line-height: 100%;
  color: #fff;
  border-radius: 8px;
  box-shadow: 5px 4px 11px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(62deg, #101828 0%, #233250 100%);
}
@media (max-width: 767px) {
  .section__tab-button_active {
    padding: 10px 16px;
  }
}
@media (max-width: 1280px) {
  .section__image-item {
    width: 30%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .section__image-item {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */