.close-button {
  position: relative;
  @include reset-button;
  @include square(30px);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 3px;
    width: 70%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 1px;
  }
  &::before {
    rotate: 45deg;
  }
  &::after {
    rotate: -45deg;
  }
}
