.section {
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 70px;
    @include mobile {
      padding-block: 40px;
    }
  }
  &__content {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: 0.2px solid grey;
    padding: 21px;
    @include mobile {
      border: none;
      margin: 0;
    }
  }
  &__tab-list {
    display: flex;
    margin-top: 87.5px;
    column-gap: 10px;
    @include tablet {
      margin: 0;
    }
  }
  &__image-container {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-top: 40px;
    @include mobile {
      flex-direction: column;
    }
  }
  &__link {
    align-self: flex-end;
  }

  &__title {
    display: flex;
    width: 100%;
    align-self: flex-start;
    column-gap: 15px;
    border-bottom: 0.2px solid grey;
    &::before {
      content: url("../../images/paw-prints-alternate.svg");
    }
  }
  &__sub-title {
    align-self: flex-start;
    margin-top: 30px;
  }
  &__tab-button {
    @include reset-button;
    @include fluid-text(20, 15);
    @include flex-center;
    height: 50px;
    padding: 10px 20px;
    @include mobile {
      height: 35px;
      padding: 10px 16px;
    }
  }
  &__link {
    margin-top: 36px;
  }
  &__tab-button_active {
    padding: 15px 25px;
    line-height: 100%;
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 4px 11px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(62deg, #101828 0%, #233250 100%);
    @include mobile {
      padding: 10px 16px;
    }
  }
  &__image-item {
    @include desktop {
      width: 30%;
      height: auto;
    }
    @include mobile {
      width: 100%;
    }
  }
}
